h1{
    font-size: x-large;
}

.image{
    width: 230px;
    margin-left: 30px;
    margin-top: 10px;
    
  filter: grayscale(1);
}

.image:hover {
    
  filter: grayscale(0);
}

.contentbox{

    /* border: 10px solid black; */
}

.Name{
    margin-left: 110px;
}

.Name1{
    margin-left: 195px;
}

div{
    margin-bottom: 20px;
}

Bold{

}