h1{
    font-size: x-large;
}

.icon{
    width: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: solid 2px white;
    /* filter: grayscale(1); */
}
.icon:hover{
    /* filter: grayscale(0); */
    background-color: aqua;
    transition: 1s ease-in-out;
    border: solid 2px aqua;
}

.icon-insta{
    width: 40px;
    border-radius: 20px;
    background-color: #fff;
}
.icon-insta:hover{
    /* filter: grayscale(0); */
    background-color: aqua;
    transition: 1s ease-in-out;
}


.image{
    width: 230px;
    height: 210px;
    border-radius: 30px;
    filter: grayscale(1);
}

.image:hover {
    width: 240px;
    height: 220px;
    transition: 0.75s ease-in-out;
    filter: grayscale(0);
}


.column{
    display: inline-block;
    margin-left: 30px;
}

.Name{
    text-align: center;
    
}

.contentbox{
    margin-top: 150px;
}

.EndScreen{
    background-color: aquamarine;
    height: 200px;
}

.info{
    margin-left: 210px;
    margin-top: 100px;
}

header{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    background: #111;
    font-family: "Open Sans";
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 20;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}